/test.db
/testoutput.clstr
/filtering_summary.log
/filtering_summary1.log
/filtering_summary2.log
/filtering_summary3.log
/filtering_summary4.log
/filtering_summary5.log
/filtering_summary6.log
/filtering_summary7.log
/filtering_summary8.log
/clusters.temp
